page-home {
text-align: center;
// color: #fff;

}
ion-title {
    position: absolute;
    // top: 30%;
    font-size: 1.7em;
    width: 100%;
    font-weight: bolder;
    color:white; 
  }
  .col1{
    background-image: url("../../assets/imgs/diamond-wallpaper-10383-10751-hd-wallpapers.jpg");
    background-size: cover;
    padding-top: 14px;
    width: 100%;
    height: 22vh;
    right: 1.5%;
    box-shadow: inset 0px 0px 15px black;
    opacity: 0.8; 
  }
 .col2{
    background-image: url("../../assets/imgs/66333-___building-architecture-city-and-urban-hd.jpg");
    background-size: cover;
    height: 22vh;
    width: 100%; 
    padding-top: 20px;
    left: 1.5%;
    box-shadow: inset 0px 0px 15px black;
    opacity: 0.8; 
 }
 .col3{
    background-image: url("../../assets/imgs//country-background_1.jpg");
    background-size: cover; 
    padding-top: 17px;
    width: 100%;
    height: 22vh;
    right: 1.5%;
    box-shadow: inset 0px 0px 15px black;
    opacity: 0.8; 
 }
 .col4{
    background-image: url("../../assets/imgs/Golden-Gate-Bridge-HD-Wallpapers-WideScreen2_NtC6UQa.jpg");
    background-size: cover;
    height: 22vh;
    width: 100%;
    padding-top: 15px;
    left: 1.5%;
    box-shadow: inset 0px 0px 15px black;
    opacity: 0.8; 
 }
 .col5{
    background-image: url("../../assets/imgs/9595254249_54498a3765_b.jpg");
    background-size: cover;
    opacity: 0.8;
    padding-top: 20px; 
    height: 22vh;
    right: 1.5%;
    box-shadow: inset 0px 0px 15px black; 
 }
 .col6{
    background-image: url("../../assets/imgs/Disco-Wallpapers-HD.jpg");
    background-size: cover; 
    width: 100%;
    height: 22vh;
    padding-top: 20px;
    left: 1.5%;
    box-shadow: inset 0px 0px 15px black; 
    opacity: 0.8;
 }
 .col7{
    background-image: url("../../assets/imgs/jazz_trumpet_wallpaper_cool_hd.jpg");
    background-size: cover;
    width: 100%;
    height: 22vh; 
    padding-top: 15px;
    right: 1.5%;
    box-shadow: inset 0px 0px 15px black;
    opacity: 0.8; 
 }
 .col8{
    background-image: url("../../assets/imgs/8.jpg");
    background-size: cover; 
    padding-top: 10px;
    height: 22vh;
    left: 1.5%;
    box-shadow: inset 0px 0px 15px black; 
    opacity: 0.8;
 }
 .bgr{
     background-color: black;
 }

h4{
    color: white;
    text-shadow: 5px 5px 15px black;
    // font-weight: lighter;
    font-family: 'Arial Narrow', Arial, sans-serif
}
.browse{
    text-align: center;
}
